<html>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<form action="http://47.98.188.59/game01/admin/?act=mock_conf&st=main" method="post">
Moke name:<br>
    <input type="text" value="" name='name'>
    <br>
异步通知接口地址:<br>
    <input type="text" value="" name='url'>
    <br>
加密方式(hash算法:1、sha1(160)，2、MD5,3、SHA-2(256)):<br>
    <input type="text" value="" name='type'>
    <br>
反查接口地址:<br>
    <input type="text" value="" name='check_url'>
    <br>
秘钥:<br>
    <input type="text" value="" name='app_cecret'>
    <br>
异步通知接口参数数组:<br>
    <input type="text" value="" name='Interface_array'>
<br>
    <input type="submit" value="提交">
</form>

</html>
